<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="articlePicDao">
    <resultMap id="articlePicMap" type="com.dianping.entity.ArticlePic">
        <result column="ID" property="id" />
        <result column="PicUrl" property="picUrl" />
    </resultMap>

    <select id="queryArticlePic" resultMap="articlePicMap">
        SELECT ID,PicUrl FROM DP_ArticlePic;
    </select>
</mapper>