<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianping.dao.GroupDao">
    <resultMap id="groupMap" type="com.dianping.entity.Group">
        <result column="GroupID" property="groupID" />
        <result column="GroupName" property="groupName" />
        <result column="GroupPermaLink" property="groupPermaLink" />
        <result column="GroupIntro" property="groupIntro" />
        <result column="GroupLogo" property="groupLogo" />
        <result column="CreateDate" property="createDate" />
        <result column="CreateUser" property="createUser" />
        <result column="LastIP" property="lastIP" />
        <result column="UserTotal" property="userTotal" />
        <result column="MainNoteTotal" property="mainNoteTotal" />
        <result column="NoteTotal" property="noteTotal" />
        <result column="WeeklyNoteCount" property="weeklyNoteCount" />
        <result column="SearchKeyWord" property="searchKeyWord" />
        <result column="HitsTotal" property="hitsTotal" />
        <result column="Status" property="status" />
        <result column="CityID" property="cityID" />
        <result column="GroupProperty" property="groupProperty" />
        <result column="GroupTypeID" property="groupTypeID" />
    </resultMap>

    <select id="queryGroupInfo" resultMap="groupMap">
        SELECT * FROM DP_Group;
    </select>
</mapper>