<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupDao">
    <resultMap id="groupMap" type="com.dianping.entity.Group">
        <result column="GroupID" property="groupID" />
        <result column="GroupIntro" property="groupIntro" />
        <result column="GroupLogo" property="groupLogo" />
        <result column="SearchKeyWord" property="searchKeyWord" />
    </resultMap>

    <select id="queryGroupInfo" resultMap="groupMap">
        select GroupID,GroupIntro,GroupLogo,SearchKeyWord from DP_Group;
    </select>
</mapper>